{% extends "main.html" %}
{% load static %}

{% block title %}Patient Info{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/patient_info.css' %}">

    <div class="top-bar">
        <h1>{{ patient.name }}</h1>

        <div class="patient-info" id="patient-info">
            <p>Patient Number: {{ patient.pacient_number }}</p>
            <p>Phone Number: {{ patient.phone_number }}</p>
            <p>Height: {{ patient.height }}</p>
            <p>Weight: {{ patient.weight }}</p>
            <p>Age: {{ patient.age }}</p>
            <p>Gender: {{ patient.gender }}</p>
        </div>

        <button class="botão_sessão" onclick="window.location.href='{{ patient.id }}/new_session'">New Session</button>
        <form method="post">
            {% csrf_token %}
            <input type="submit" name="go_home" value="Back to homepage" class="common-style">
        </form>
    </div>

    <div class="session_links">
        <div class="grid">
            <div class="column_1">Session</div>
            <div class="column_2">Session Date</div>
            {% for session in sessions %}
                <div class="name"><a href="{{ patient.id }}/session_{{session.id}}">New Session</a></div>
                <div class="number">{{ session.date }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
