{% extends "main.html" %}
{% load static %}

{% block title %}New Session{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/sessionreview.css' %}">

<div class="top-bar">
    <h1>{{patient.name}} session {{session.session_id}}</h1>
    <div class="buttons">
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <input type="submit" name="go_back" value="Back to patient page" class="common-style">
        </form>
    </div>
</div>

<div id="container">
    <img id="main_plot" src="data:image/png;base64,{{ plot_data }}" >
</div>


<!-- Add a form for session notes -->
<div class="notes-section">
    <h2>Session Notes</h2>
    <form method="post">
        {% csrf_token %}
        <textarea name="session_notes" rows="5" cols="50" placeholder="Write your notes here...">{{ session.notes }}</textarea>
        <br>
        <input type="submit" value="Save Notes">
    </form>
</div>

<!-- Add a checkbox to enable/disable zoom -->
<div class="zoom-control">
    <label for="zoom-checkbox">Enable Zoom</label>
    <input type="checkbox" id="zoom-checkbox">
</div>

<script>
    const myimg = document.getElementById("main_plot");
    const container = document.getElementById("container");
    const zoomCheckbox = document.getElementById("zoom-checkbox");

    function onZoom(e) {
        if (zoomCheckbox.checked) {
            const rect = container.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            myimg.style.transformOrigin = `${x}px ${y}px`;
            myimg.style.transform = `scale(1.5)`;
        }
    }

    function offZoom(e) {
        if (zoomCheckbox.checked) {
            myimg.style.transformOrigin = `center center`;
            myimg.style.transform = `scale(1)`;
        }
    }

    container.addEventListener("mousemove", onZoom);
    container.addEventListener("mouseleave", offZoom);
    container.addEventListener("mouseover", onZoom);
</script>
{% endblock %}
