{% extends "main.html" %}
{% load static %}

{% block title %}New Session{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/sessionreview.css' %}">

<h1>{{patient.name}} session number {{session.session_id}}</h1>

<!-- <p>{{session.session_results}}</p> -->
<div class="left_knee">
    <img src="data:image/png;base64,{{ plot_data }}">
</div>


<div class="back-button">
    <form method="post">
        {% csrf_token %}
        <input type="submit" name="go_back" value="Back to patient page">
    </form>
</div>


{% endblock %}
