{% extends "main.html" %} 
{% load static %} 

{% block title %}Session Review{%endblock %} 

{% block content %}
<link rel="stylesheet" href="{% static 'css/sessionreview.css' %}" />

<div class="top-bar">
  <h1>{{patient.name}} session {{session.session_id}}</h1>
  <div class="buttons">
    <form method="post" style="display: inline">
      {% csrf_token %}
      <input
        type="submit"
        name="go_back"
        value="Back to patient page"
        class="common-style"
      />
    </form>
  </div>
</div>

<div class="canvas-container">
  <canvas
    id="dataChart"
    width="1000"
    height="400"
    class="chart-canvas"
  ></canvas>
  <div class="chart-controls">
    <button id="prev" class="chart-button">Previous</button>
    <button id="next" class="chart-button">Next</button>
  </div>
</div>

<div class="canvas-container">
  <canvas
    id="smoothedCurveChart"
    width="800"
    height="400"
    class="chart-canvas"
  ></canvas>
</div>

<div class="canvas-container">
  <canvas
    id="combinedChart"
    width="800"
    height="400"
    class="chart-canvas"
  ></canvas>
  <div class="chart-controls">
    <button id="prevCombined" class="chart-button">Previous</button>
    <button id="nextCombined" class="chart-button">Next</button>
    <!-- <button id="toggleCurve" class="chart-button">Show Right Curve</button> -->
  </div>
</div>

<div class="canvas-container">
  <canvas id="comparisonChart" width="800" height="400" class="chart-canvas"></canvas>
</div>


<!-- Add a form for session notes -->
<div class="notes-section">
  <h2>Session Notes</h2>
  <form method="post">
    {% csrf_token %}
    <textarea
      name="session_notes"
      rows="5"
      cols="50"
      placeholder="Write your notes here..."
    >
{{ session.notes }}</textarea
    >
    <br />
    <input type="submit" value="Save Notes" />
  </form>
</div>


<!-- ---------------------------------------- -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  let start = 0;
  let totalDataLength;
  const count = 400;
  const chartContext = document.getElementById("dataChart").getContext("2d");
  const dataChart = new Chart(chartContext, {
    type: "line",
    data: {
      labels: [],
      datasets: [
        {
          label: "Right Leg",
          data: [],
          borderColor: "rgba(75, 192, 192, 1)",
          borderWidth: 1,
          fill: false,
        },
        {
          label: "Left Leg",
          data: [],
          borderColor: "rgba(192, 75, 75, 1)",
          borderWidth: 1,
          fill: false,
        },
      ],
    },
    options: {
      scales: {
        x: {
          type: "linear",
          ticks: {
            callback: function (value) {
              return value / 100;
            },
          },
          title: {
                display: true,
                text: "Time (seconds)",
            },
        },
        y: {
          beginAtZero: true,
          title: {
                display: true,
                text: "Knee Angle (degrees)",
              },
        },
      },
    },
  });

  function updateChart() {
    $.get(
      `/get-data-points/${start}/${count}/{{ patient.id }}/{{ session.id }}/`,
      function (data) {
        const labelsRight = data.right.map((point) => point.timestamp);
        const valuesRight = data.right.map((point) => point.value);
        const labelsLeft = data.left.map((point) => point.timestamp);
        const valuesLeft = data.left.map((point) => point.value);

        totalDataLength = valuesLeft.length + valuesRight.length;

        dataChart.data.labels = labelsRight;
        dataChart.data.datasets[0].data = valuesRight;
        dataChart.data.datasets[1].data = valuesLeft;

        dataChart.update();
      }
    );
  }

  $("#prev").click(function () {
    if (start >= count) {
      start -= count;
      updateChart();
      //     $('#next').prop('disabled', false); // Enable the "Next" button
    }
  });

  $("#next").click(function () {
    // if (start + count < totalDataLength) {
    start += count;
    updateChart();
    // } else {
    //     // Disable the "Next" button
    //     $(this).prop('disabled', true);
    // }
  });

  $(document).ready(function () {
    updateChart();
  });
</script>

<script>
  $(document).ready(function () {
    // Fetch expected curve data
    $.get(`/get-expected-curve/{{ patient.id }}/`, function (curveData) {
      const expectedCurveContext = document
        .getElementById("smoothedCurveChart")
        .getContext("2d");
      const expectedCurveChart = new Chart(expectedCurveContext, {
        type: "line",
        data: {
          labels: Array.from(
            { length: curveData.expected_curve.length },
            (_, i) => i
          ),
          datasets: [
            {
              label: "Expected Curve",
              data: curveData.expected_curve,
              borderColor: "rgba(255, 99, 132, 1)",
              borderWidth: 2,
              fill: false,
              pointRadius: 0,
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            x: {
              type: "linear",
              title: {
                display: true,
                text: "Gait Cycle (%)",
              },
              ticks: {
                callback: function (value, index, values) {
                  return value.toFixed(2);
                },
              },
            },
            y: {
              beginAtZero: false,
              title: {
                display: true,
                text: "Knee Angle (degrees)",
              },
            },
          },
          plugins: {
            title: {
              display: true,
              text: "Expected Knee Flexion Curve",
            },
            legend: {
              display: false,
            },
            tooltip: {
              callbacks: {
                title: function (context) {
                  return `Gait Cycle: ${context[0].parsed.x.toFixed(2)} %`;
                },
                label: function (context) {
                  return `Angle: ${context.parsed.y.toFixed(2)}°`;
                },
              },
            },
          },
        },
      });
    });
  });
</script>

<script>
let combinedChart;
let currentIndexRight = 0;
let currentIndexLeft = 0;
let splitIndicesLeft = [];
let splitIndicesRight = [];

function getSplitIndexes(array) {
  var prevMax = -1;
  var prevMaxValue = -1;
  var postMax = -1;
  var postMaxValue = -1;
  var curMin = -1;
  var curMinValue = -1;
  var curMaxValue = -1;
  var curMax = -1;
  var checkingMax = true;

  var minlocations = [];

  for (var iterator = 0; iterator < array.length; iterator++) {
    if (checkingMax) {
      if (array[iterator] > curMaxValue || iterator === 0) {
        curMax = iterator;
        curMaxValue = array[iterator];
        if (curMinValue > -1) {
          postMax = iterator;
          postMaxValue = array[iterator];
        } else {
          prevMaxValue = array[iterator];
          prevMax = iterator;
        }
      }
      if (curMax > -1 && array[iterator] < curMaxValue) {
        checkingMax = false;
        curMaxValue = -1;
        if (prevMaxValue > 20 && postMaxValue > 5 && postMaxValue < 20 && prevMaxValue > postMaxValue) {
          minlocations.push(curMin);
        }
        if (postMax > -1) {
          prevMax = postMax;
          prevMaxValue = postMaxValue;
        }
        curMin = -1;
        curMinValue = -1;
        postMax = -1;
        postMaxValue = -1;
      }
    } else {
      if (array[iterator] <= curMinValue || curMinValue === -1) {
        curMin = iterator;
        curMinValue = array[iterator];
      }
      if (curMinValue < 25 && curMin > -1 && array[iterator] > curMinValue) {
        checkingMax = true;
        curMax = -1;
        curMaxValue = -1;
      }
    }
  }

  return minlocations;
}

function interpolateData(data, targetLength) {
  const interpolatedData = [];
  const step = data.length / (targetLength - 1);

  for (let i = 0; i < targetLength; i++) {
    const index = i * step;
    const lowerIndex = Math.floor(index);
    const upperIndex = Math.ceil(index);

    if (upperIndex >= data.length) {
      interpolatedData.push(data[data.length - 1]);
    } else if (lowerIndex === upperIndex) {
      interpolatedData.push(data[lowerIndex]);
    } else {
      const fraction = index - lowerIndex;
      const value =
        data[lowerIndex] + (data[upperIndex] - data[lowerIndex]) * fraction;
      interpolatedData.push(value);
    }
  }

  return interpolatedData;
}

function fetchAllDataPoints() {
  $.ajax({
    url: "/get-all-data-points/{{ patient.id }}/{{ session.id }}/",
    type: "GET",
    success: function(data) {
      const rightLegData = data.right;
      const leftLegData = data.left;

      splitIndicesRight = getSplitIndexes(rightLegData);
      splitIndicesLeft = getSplitIndexes(leftLegData);

      updateCombinedChart();
    },
    error: function(xhr, status, error) {
      console.error("Error fetching data points:", error);
    }
  });
}

function updateCombinedChart() {
  const maxIndexRight = splitIndicesRight.length - 1;
  const maxIndexLeft = splitIndicesLeft.length - 1;

  if (currentIndexRight >= 0 && currentIndexRight < maxIndexRight && currentIndexLeft >= 0 && currentIndexLeft < maxIndexLeft) {
    const startIndexRight = splitIndicesRight[currentIndexRight];
    const endIndexRight = splitIndicesRight[currentIndexRight + 1];
    const startIndexLeft = splitIndicesLeft[currentIndexLeft];
    const endIndexLeft = splitIndicesLeft[currentIndexLeft + 1];
    // Make AJAX request to get right leg data between indexes
    $.get(`/get-data-between-indexes-right/{{ patient.id }}/{{ session.id }}/${splitIndicesRight[currentIndexRight]}/${splitIndicesRight[currentIndexRight + 1]}/`, function (rightData) {
      const rightLegData = interpolateData(rightData.right, 101);

      // Make AJAX request to get left leg data between indexes
      $.get(`/get-data-between-indexes-left/{{ patient.id }}/{{ session.id }}/${splitIndicesLeft[currentIndexLeft]}/${splitIndicesLeft[currentIndexLeft + 1]}/`, function (leftData) {
        const leftLegData = interpolateData(leftData.left, 101);

        const labels = Array.from({ length: 101 }, (_, i) => i);

        // Destroy existing chart if it exists
        if (combinedChart) {
          combinedChart.destroy();
        }

        // Create new chart with interpolated data
        const combinedChartContext = document.getElementById("combinedChart").getContext("2d");
        combinedChart = new Chart(combinedChartContext, {
          type: "line",
          data: {
            labels: labels,
            datasets: [
              {
                label: "Right Leg",
                data: rightLegData,
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 1,
                fill: false,
              },
              {
                label: "Left Leg",
                data: leftLegData,
                borderColor: "rgba(192, 75, 75, 1)",
                borderWidth: 1,
                fill: false,
              },
            ],
          },
          options: {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
              x: {
                type: "linear",
                title: {
                  display: true,
                  text: "Gait Cycle (%)",
                },
              },
              y: {
                beginAtZero: false,
                title: {
                  display: true,
                  text: "Knee Angle (degrees)",
                },
                ticks: {
                  callback: function (value, index, values) {
                    return value.toFixed(2) + "°";
                  },
                },
              },
            },
            plugins: {
              title: {
                display: true,
                text: "Knee Flexion Curves",
              },
              tooltip: {
                callbacks: {
                  title: function (context) {
                    return `Gait Cycle: ${context[0].parsed.x.toFixed(2)} %`;
                  },
                  label: function (context) {
                    return `${context.dataset.label}: ${context.parsed.y.toFixed(2)}°`;
                  },
                },
              },
            },
          },
        });

        // Update the comparison chart
        updateComparisonChart(rightLegData, leftLegData);
      });
    });
  }
}

let comparisonChart;

function updateComparisonChart(rightData, leftData) {
  // Destroy existing chart if it exists
  if (comparisonChart) {
    comparisonChart.destroy();
  }

  // Calculate the mean value between the left and right curves
  const meanData = rightData.map((x, i) => (x + leftData[i]) / 2);

  // Create new chart
  const comparisonChartContext = document.getElementById("comparisonChart").getContext("2d");
  comparisonChart = new Chart(comparisonChartContext, {
    type: "line",
    data: {
      datasets: [
        {
          label: "Symmetry",
          data: meanData.map((mean, i) => ({ x: rightData[i], y: mean })),
          backgroundColor: "rgba(153, 102, 255, 0.5)",
          borderColor: "rgba(153, 102, 255, 1)",
          borderWidth: 1,
          pointRadius: 2,
          cubicInterpolationMode: "monotone",
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: true,
      scales: {
        x: {
          type: "linear",
          title: {
            display: true,
            text: "Right Knee Angle (degrees)",
          },
          ticks: {
            callback: function (value, index, values) {
              return value.toFixed(2) + "°";
            },
          },
        },
        y: {
          type: "linear",
          title: {
            display: true,
            text: "Mean Knee Angle (degrees)",
          },
          ticks: {
            callback: function (value, index, values) {
              return value.toFixed(2) + "°";
            },
          },
        },
      },
      plugins: {
        title: {
          display: true,
          text: "Symmetric plot",
        },
        tooltip: {
          callbacks: {
            label: function (context) {
              const label = context.dataset.label || "";
              const rightAngle = context.parsed.x.toFixed(2) + "°";
              const meanAngle = context.parsed.y.toFixed(2) + "°";
              return `${label}: Right Angle = ${rightAngle}, Mean Angle = ${meanAngle}`;
            },
          },
        },
      },
    },
  });
}

// Add event listeners for navigation buttons
$("#prevCombined").click(function () {
  if (currentIndexRight > 0) {
    currentIndexRight--;
    currentIndexLeft--;
    updateCombinedChart();
  }
});

$("#nextCombined").click(function () {
  const maxIndexRight = splitIndicesRight.length - 2;
  const maxIndexLeft = splitIndicesLeft.length - 2;

  if (currentIndexRight < maxIndexRight && currentIndexLeft < maxIndexLeft) {
    currentIndexRight++;
    currentIndexLeft++;
    updateCombinedChart();
  }
});

$(document).ready(function () {
  fetchAllDataPoints();
});
</script>
{% endblock %}
